<div class="col-sm-7 design-legend">
  <ul class="status-list col-sm-3">
    <li class="legend">LEGEND</li>
  </ul>
  <ul class="status-list col-sm-3">
    <li class="light-blue light-blue-text">In Progress</li>
    <li class="blue">Ready for Dev</li>
  </ul>
  <ul class="status-list col-sm-3">
    <li class="green">UXD Verified</li>
    <li class="orange">Needs Updates</li>
  </ul>
  <ul class="status-list col-sm-3">
    <li class="purple">Not Yet Started</li>
    <li class="red">Needs Review</li>
  </ul>
</div>
