<div class="container-fluid">
  <div class="col-sm-7 col-sm-offset-5">
    <ul class="status-list col-sm-3">
      <li class="legend">LEGEND</li>
    </ul>
    <ul class="status-list col-sm-3">
      <li class="orange">In Progress</li>
      <li class="blue">Ready for implementation</li>
    </ul>
    <ul class="status-list col-sm-3">
      <li class="green">UXD verified</li>
      <li class="red">Designs need to be updated</li>
    </ul>
    <ul class="status-list col-sm-3">
      <li class="purple">Planned - current goal by UXD</li>
      <li class="grey">Unplanned - future goal by UXD</li>
    </ul>
  </div>
</div>
