<nav class="navbar navbar-default navbar-pf" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ site.github.url }}">
      <img src="img/fabric8.png" alt="Fabric8 Planner User Experience" width="50" style="display: inline-block; vertical-align: bottom;">User Experience Design
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-primary persistent-secondary">
      <li>
        <a href="invision-links.html">Designs</a>
      </li>
      <li>
        <a href="ia.html">Information Architecture</a>
      </li>
      <li class="active">
        <a href="assets.html">Design Assets</a>
        <ul class="nav navbar-nav navbar-persistent">
          <li>
            <a href="#">Color Palette</a>
          </li>
          <li>
            <a href="#">Sketch Components</a>
          </li>
          <li>
            <a href="#">PSD Components</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="CODE-GUIDELINES.html">Code Guidelines</a>
      </li>
      <li>
        <a href="#">
          |
        </a>
      </li>
      <li>
        <a href="https://github.com/fabric8io/fabric8-ux/issues">Issues</a>
      </li>
      <li>
        <a href="https://github.com/fabric8io/fabric8-ux/milestones">Milestones</a>
      </li>
      <li>
        <a href="https://github.com/fabric8io/fabric8-ux/wiki">Wiki</a>
      </li>
    </ul>
  </div>
</nav>
