<div class="row toolbar-pf table-view-pf-toolbar" id="toolbar1">
  <div class="col-sm-12">
    <form class="toolbar-pf-actions">
      <div class="form-group toolbar-pf-filter">
        <label class="sr-only" for="filter">
          Filter Designs
        </label>
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter Designs <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a data-target="#" id="design">by Design</a>
              </li>
              <li>
                <a data-target="#" id="designer">by Designer</a>
              </li>
            </ul>
          </div>
          <input type="text" class="form-control" placeholder="by Design..." autocomplete="off" id="designFilter" onkeyup="titleFunction()">
          <input type="text" class="form-control hide" placeholder="by Designer..." autocomplete="off" id="designerFilter" onkeyup="designerFunction()">
        </div>
      </div>
    </form>
  </div>
</div>
