<div class="design-legend">
  <ul class="status-list">
    <li class="col-sm legend">LEGEND</li>
  </ul>
  <div class="col-sm" style="display: inline-flex;">
    <ul class="col-sm list-group list-group-flush status-list">
      <li class="list-group-item light-blue light-blue-text">In Progress</li>
      <li class="list-group-item blue">Ready for Dev</li>
      <li class="list-group-item green">UXD Verified</li>
    </ul>
    <ul class="col-sm list-group list-group-flush status-list">
      <li class="list-group-item orange">Needs Updates</li>
      <li class="list-group-item purple">Not Yet Started</li>
      <li class="list-group-item red">Needs Review</li>
    </ul>
  </div>
</div>
