<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ page.relative_path }}">
        <img alt="brand" src="{{ page.relative_path }}assets/img/fabric8.png" alt="fabric8 User Experience" width="25px">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if page.navbar_active == "home" %} class="active"{% endif %}>
          <a href="{{ page.relative_path }}">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" arias-haspopup="true" aria-expanded="false">Designs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li {% if page.navbar_active == "platform" %} class="active"{% endif %} >
              <a href="{{ page.relative_path }}designs/platform">Platform</a>
            </li>
            <li {% if page.navbar_active == "planner" %} class="active"{% endif %} >
              <a href="{{ page.relative_path }}designs/planner">Planner</a>
            </li>
            <li {% if page.navbar_active == "bayesian" %} class="active"{% endif %} >
              <a href="{{ page.relative_path }}designs/bayesian">Bayesian</a>
            </li>
            <li {% if page.navbar_active == "hypothesis" %} class="active"{% endif %} >
              <a href="{{ page.relative_path }}designs/hypothesis">Hypothesis Engine</a>
            </li>
            <li role="separator" class="divider"></li>
            <li {% if page.navbar_active == "patterns" %} class="active"{% endif %} >
              <a href="{{ page.relative_path }}designs/patterns">fabric8 Patterns</a>
            </li>
            <li role="separator" class="divider"></li>
            <li {% if page.navbar_active == "archives" %} class="active"{% endif %} >
              <a href="{{ page.relative_path }}designs/archives">Archives</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Design Resources <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li {% if page.navbar_active == "sketch" %} class="active"{% endif %}>
              <a href="{{ page.relative_path }}sketch">Sketch Components</a>
            </li>
            <li {% if page.navbar_active == "photoshop" %} class="active"{% endif %}>
              <a href="{{ page.relative_path }}photoshop">Photoshop Components</a>
            </li>
            <li {% if page.navbar_active == "colors" %} class="active"{% endif %}>
              <a href="{{ page.relative_path }}colors">Color Palette</a>
            </li>
          </ul>
        </li>
        <li {% if page.navbar_active == "ia" %} class="active dropdown"{% endif %}>
          <a href="{{ page.relative_path }}ia">Information Architecture</a>
        </li>
        <li {% if page.navbar_active == "research" %} class="active dropdown"{% endif %}>
          <a href="{{ page.relative_path }}research">Research</a>
        </li>
        <li {% if page.navbar_active == "guidelines" %} class="active"{% endif %}>
          <a href="{{ page.relative_path }}code-guidelines">Code Guidelines</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GitHub Links <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="https://github.com/fabric8io/fabric8-ux/issues" target="_blank">Issues</a>
            </li>
            <li>
              <a href="https://github.com/fabric8io/fabric8-ux/milestones" target="_blank">Milestones</a>
            </li>
            <li>
              <a href="https://github.com/fabric8io/fabric8-ux/wiki" target="_blank">Wiki</a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
