@import "patternfly/font-awesome.scss";
@import "patternfly/patternfly/variables.scss";

body {
  font-size: $fa-font-size-base;
  padding-top: 70px;
}
.full-width { width: 100%; }
.full-height { height: 100%; }
