.green { background-color: $color-pf-green-200 }
.blue { background-color: $color-pf-blue-200; }
.light-blue { background-color: $color-pf-blue-100; }
.light-blue-text { color: $color-pf-black !important;}
.orange { background-color: $color-pf-orange-200; }
.purple { background-color: $color-pf-purple-200; color: $color-pf-white;}
.red { background-color: $color-pf-red-100; color: $color-pf-white;}
.grey {
  background-color: $color-pf-black-300;
  color: $color-pf-black-500 !important;
}
