.green {
  background-color: $pf-color-green-200;
}

.blue {
  background-color: $pf-color-blue-200;
}

.light-blue {
  background-color: $pf-color-blue-100;
}

.light-blue-text {
  color: $pf-color-blue-700 !important;
}

.orange {
  background-color: $pf-color-orange-200;
}

.purple {
  background-color: $pf-color-purple-200;
  color: $pf-color-white;
}

.red {
  background-color: $pf-color-red-100;
  color: $pf-color-white;
}

.grey {
  background-color: $pf-color-black-300;
  color: $pf-color-black-500 !important;
}
