.table-view-pf-toolbar.toolbar-pf {
  margin-top: -20px;
}

.markdown-table {
  table {
    width: 100%;
    >thead,
    >tbody,
    >tfoot {
      >tr {
        >th,
        >td {
          padding: 2px 10px 3px;
          >a:hover {
            text-decoration: none;
          }
        }
        >th {
          font-family: $pf-global--sans-serif--FontFamily;
          font-style: normal;
          font-weight: 600;
        }
      }
    }
    >thead {
      background-clip: padding-box;
      background-color: $pf-color-black-150;
      background-image: -o-linear-gradient(to bottom, $pf-color-black-100 0%, $pf-color-black-200 100%);
      background-image: -webkit-linear-gradient(to bottom, $pf-color-black-100 0%, $pf-color-black-200 100%);
      background-image: linear-gradient(to bottom, $pf-color-black-100 0%, $pf-color-black-200 100%);
      background-repeat: repeat-x;
    }
    border: 1px solid;
    border-color: $pf-color-black-300;
    >thead,
    >tbody,
    >tfoot {
      >tr {
        >th,
        >td {
          border: 1px solid;
          border-color: $pf-color-black-300;
        }
      }
    }
    >thead>tr {
      >th,
      >td {
        border-bottom-width: 1px;
      }
    }
    >tbody>tr {
      &:nth-of-type(even) {
        background-color: $pf-color-black-150;
      }
      &:nth-of-type(odd) {
        background-color: transparent;
      }
    }
    >tbody>tr:hover {
      >td,
      >th {
        background-color: $pf-color-blue-50;
        border-bottom-color: $pf-color-blue-200;
      }
    }
  }
}
