.sort {
  &::after {
    margin-left: 5px;
    font-family: FontAwesome;
    content: '\f0dc';
  }
  &:hover,
  &:active,
  &:focus { text-decoration: none; }
}
.table-view-pf-toolbar.toolbar-pf {
  margin-bottom: 10px;
}
.filter-control {
  list-style: none;
  padding: 0 5px;
  li {
    color: $color-pf-black;
    margin: 2px 0;
    padding: 5px;
  }
}
.status-list {
  .legend {
    color: $color-pf-black;
    text-align: right;
  }
  padding: 0 5px;
  list-style: none;
  li {
    margin: 2px 0;
    padding: 5px;
    color: $color-pf-white;
  }
}
