<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="fabric8 UXD">
    <meta name="author" content="Adam J. Jolicoeur">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ page.relative_path }}assets/img/favicon.svg">
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ page.relative_path }}assets/css/styles.css">
    <!-- jQuery -->
    <script src="{{ page.relative_path }}assets/js/vendor/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="{{ page.relative_path }}assets/js/vendor/bootstrap.min.js"></script>
    <!-- PatternFly JS -->
    <script src="{{ page.relative_path }}assets/js/vendor/patternfly.min.js"></script>
    <!-- Site JS -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body>
    {% include nav.html %}
    <section>
      <div class="container-fluid">
        {{ content }}
      </div><!-- /.container -->
    </section>
  </body>
</html>
