  {% include header.html %}
    {% include nav.html %}
    <style>
      .hide { display: none; }
    </style>
    <!-- Toolbar -->
    {% include design-toolbar.html %}
    <section>
      <div class="container-fluid">
        <div class="col-sm-12">
          <div class="col-sm-5">
            <h1>{% if page.title %}{{ page.title }}{% endif %}</h1>
          </div>
          {% include design-legend.html %}
        </div>
      </div>
      <div class="container-fluid">
        {{ content }}
      </div><!-- /.container -->
    </section>
    <script>
    $("table").addClass("table table-striped table-bordered table-hover").attr("id", "designTable");
    // $("table").attr("id", "myTable2");
    $("table>tbody>tr>td>a").attr("target", "top");
    $("table>tbody>tr>td:contains('Out of Date')").addClass("red");
    $("table>tbody>tr>td:contains('Done')").addClass("green");
    $("table>tbody>tr>td:contains('Ready for Dev')").addClass("blue");
    $("table>tbody>tr>td:contains('In Progress')").addClass("orange");
    $("table>tbody>tr>td:contains('TBD')").addClass("grey");
    $("table>tbody>tr>td:contains('Not Yet Started')").addClass("purple");
    </script>
  {% include footer.html %}
