  {% include header.html %}
    {% include nav.html %}
    <style>
      .hide { display: none; }
    </style>
    <!-- Toolbar -->
    <div class="row toolbar-pf table-view-pf-toolbar" id="toolbar1">
      <div class="col-sm-12">
        <form class="toolbar-pf-actions">
          <div class="form-group toolbar-pf-filter">
            <label class="sr-only" for="filter">
              Filter Designs
            </label>
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filter Designs <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a data-target="#" id="design">Design Title</a>
                  </li>
                  <li>
                    <a data-target="#" id="designer">Designer</a>
                  </li>
                </ul>
              </div>
              <input type="text" class="form-control" placeholder="by Design Title..." autocomplete="off" id="designFilter" onkeyup="titleFunction()">
              <input type="text" class="form-control hide" placeholder="by Designer..." autocomplete="off" id="designerFilter" onkeyup="designerFunction()">
            </div>
          </div>
        </form>
      </div>
    </div>
    <section>
      <div class="container-fluid">
        <div class="col-sm-12">
          <div class="col-sm-5">
            <h1>{% if page.title %}{{ page.title }}{% endif %}</h1>
          </div>
        </div>
      </div>
      {% include design-legend.html %}
      <div class="container-fluid">

        {{ content }}

      </div><!-- /.container -->
    </section>
    <script>
    $("table").addClass("table table-striped table-bordered table-hover").attr("id", "designTable");
    // $("table").attr("id", "myTable2");
    $("table>tbody>tr>td>a").attr("target", "top");
    $("table>tbody>tr>td:contains('Out of Date')").addClass("red");
    $("table>tbody>tr>td:contains('Done')").addClass("green");
    $("table>tbody>tr>td:contains('Ready for Dev')").addClass("blue");
    $("table>tbody>tr>td:contains('In Progress')").addClass("orange");
    $("table>tbody>tr>td:contains('TBD')").addClass("grey");
    $("table>tbody>tr>td:contains('Not Yet Started')").addClass("purple");
    </script>
  {% include footer.html %}
