<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet for GitHub pages -->
        <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/_site/css/styles.css">
        <!-- link to main stylesheet for local development -->
        <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/styles.css">
    </head>
    <body onload='myInit();'>
        <nav class="navbar navbar-default navbar-pf" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.github.url }}">
                <img src="src/img/fabric8.png" alt="Fabric8 Planner User Experience" width="50" style="display: inline-block; vertical-align: bottom;">User Experience Design
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-collapse-1">
                <ul class="nav navbar-nav navbar-utility">
                    <li>
                        <a href="http://demo.almighty.io">Planner Demo</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-primary">
                    <li>
                        <a href="https://github.com/fabric8io/fabric8-ux">Code</a>
                    </li>
                    <li>
                        <a href="https://github.com/fabric8io/fabric8-ux/issues">Issues</a>
                    </li>
                    <li>
                        <a href="https://github.com/fabric8io/fabric8-ux/milestone/5">Backlog</a>
                    </li>
                    <li>
                        <a href="https://github.com/fabric8io/fabric8-ux/milestone">Milestones</a>
                    </li>
                    <li>
                        <a href="invision-links.html">Designs</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section>
            <div class="container-fluid markdown-table">
        
                {{ content }}
        
            </div><!-- /.container -->
        </section>
        <footer>
            <ul>
                <li><a href="https://github.com/fabric8io/fabric8-uxd">github.com/fabric8io/fabric8-uxd</a></li>
            </ul>
        </footer>
        <!-- jQuery -->
        <script src="{{ site.github.url }}/js/jquery/jquery.min.js"></script>
        <!-- webcomponentjs -->
        <script src="{{ site.github.url }}/js/webcomponents.min.js"></script>
        <!-- includes and imports -->
        <!--<script src="app/js/includes.js"></script>
        <script src="app/js/HTMLImport.min.js"></script>-->
        <!-- Bootstrap JS -->
        <script src="{{ site.github.url }}/js/bootstrap/bootstrap.min.js"></script>
        <!-- PatternFly JS -->
        <script src="{{ site.github.url }}/js/patternfly/patternfly.min.js"></script>
        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <script>
            $("table>tbody>tr>td:contains('Done')").addClass("green");
            $("table>tbody>tr>td:contains('Ready for Dev')").addClass("blue");
            $("table>tbody>tr>td:contains('In Progress')").addClass("orange");
            $("table>tbody>tr>td:contains('TBD')").addClass("red");
        </script>
    </body>
</html>